#container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
}

#container .row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#container .row div {
    flex: 1;
    border: 1px solid rebeccapurple;
}